# 환경 변수 파일
.env
*.env
.env**

# 로그 파일
logs/
*.log

# 데이터베이스 파일
db.sqlite

# node_modules 폴더
node_modules/

# IDE 설정 파일
.vscode/
.idea/

# Docker Compose 설정 파일
docker-compose.yml

# Docker 이미지 및 컨테이너
*.tar
*.zip
*.gz
*.bz2
*.xz
*.7z

# Docker 컨테이너 로그
logs/

.pem
*.pem
